.RoomPage {
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.centerText {
  margin: 0 auto;
}
.playersList {
  list-style: none;
  padding-left: 0px;
}
.roomPlayer {
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px;
}
.copyRoomUrlToClipboard {
  cursor: pointer;
}
.recentlyCopiedText {
  /* TBA: */
}

.roomPlayerInput{
  background-color: #424242;
  color: white;
  margin-left: 5px;
}

.LaunchButton{
  background-color: #008c68;
  border-color: #008c68;
  text-align: center;
  cursor: pointer;
}

.currPlayerReadyButton{
  cursor: pointer;
}
.readyButton{
  padding: 0;
  font-weight: bold;
}
.xButton > i{
  color: red;
  font-size: 25px;
}
.checkButton > i{
  color: green;
  font-size: 25px;
}