.BoosterPickerWrapper{
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.InfoBlurb{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.FormatType{
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 30px;
}

.FormatType > label{
    margin-right: 20px;
}
.BoosterSelect{
    font-size: 18px;
    height: 20px;
    margin-bottom: 5px;
    width: 100%;
}
.BoosterSelect > select{
    font-size: 16px;
    margin-left:40px;
    background: rgba(0,0,0,0.75);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    width: 70%;
}
.BoosterWindowedArea{
    height: 500px;
}

.AddBoosterButton{
    position: absolute;
    top: 90%;
    left: 35%;
    font-size: 30px;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#25526d;
    text-align:center;
    transition: all 0.2s;
}
.AddBoosterButton:hover{
    background-color:#0e202b;
}

.LaunchButton{
    position: absolute;
    top: 110%;
    left: 31%;
    font-size: 50px;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#1c5321;
    text-align:center;
    transition: all 0.2s;
}
.LaunchButton:hover{
    background-color:#0e2c11;
}
.BackButton{
    position: absolute;
    top: 85%;
    left: 85%;
    font-size: 50px;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:#1c5321;
    text-align:center;
    transition: all 0.2s;
}
.BackButton:hover{
    background-color:#0e2c11;
}
.BoosterText{
    width: 20%;
    float: left;
}

.ChooserArea{
    height: 275px;
    overflow-y: scroll;
    overflow: auto;
}

.scrollCards{
    overflow-y: scroll;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }