.CardPickerRightArea{
    color: #ffffff75;
    overflow: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #434648;
    box-shadow: rgb(0 0 0 / 40%) 0 2px 5px;
    padding: 3px 24px 3px 24px;
    z-index: 999;
    overflow-x: hidden;
    float: right;
    overflow:visible
}

.sideboard-button {
    cursor: pointer;
    text-align: center;
    transform: rotate(90deg);
    z-index: 999;
    background-color: #434648 !important;
    color: white;
    display: block;
    width: 10rem;
    height: 2.3rem;
    background-color: rgb(37, 39, 39);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    box-shadow: rgb(0 0 0 / 40%) 2px -5px 5px;
    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    position: relative;
    bottom: -100px;
    transition: all 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */

.HideSidebar{
    width: 0px !important;
}