.ScrollCards{
    /* overflow-y: scroll; */
    overflow: auto;
    padding-bottom: 100px;
    text-align: center;
    height: 100%;
}

.CardDisplayAreaTitle{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Alegreya', serif;
    font-family: 'B612', sans-serif;
}

.Card{
    padding: 5px;
    cursor: pointer;
}

.Card:hover{
    box-shadow: rgb(0 0 0 / 60%) 0 2px 5px;
    transition: all 0.3s ease-out;
    transform: scale(1.04);
}

.ScrollCards::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.ScrollCards::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.ExpandContract{
    transition: all 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
    display: inline-block;
}

.BottomBar{
    position: absolute;
    height: 50px;
    bottom: 68px;
    background-color: #121512;
    float: right;
    text-align: center;
    width: 25%;
    border-top-right-radius: 9px;
    box-shadow: rgb(0 0 0 / 40%) 2px -5px 5px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="BottomBar"] {
      width: 100%;
    }
  }

.ExportButton.btn-success{
    background-color: #008c68;
    border-color: #008c68;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}

.SortButton.btn-secondary{
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.SortButton:active{
    background-color: #353535 !important;
}

.DeckCount{
    font-size: 1vw;
    line-height: 50px;
    /* margin-top: 10px !important; */
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="DeckCount"] {
        font-size: 18px;
    }
  }